/* src/index.css */
@import "tailwindcss";

html,
body {
  min-height: 100vh;
  width: 100%;
  margin: 0;

  /* Bypassing the token engine to isolate the problem */
  background-color: #f8fafc;
  color: #0f172a;
}
